<div class="login container-fluid">
  <main class="row">
    <div class="slide col-12 col-sm-6">
      <div class="row lex-column align-items-center col-12 col-lg-10">
        <div class="carousel">
          <div class="carousel-items" #carousel>
            <div class="carousel-item" *ngFor="let slide of slides; index as i">
              <img
                src="{{ slide.image }}"
                alt="imagem ilustrativa"
                title="ilustração"
                class="m-bottom-5"
              />
              <h5 class="fs-2">{{ slide.title }} {{i}}</h5>
              <p class="fs-5">
                {{ slide.text }}
              </p>
            </div>
          </div>
          <div class="carousel-nav">
            <input
              *ngFor="let slide of slides; index as i"
              type="radio"
              name="carousel-select"
              class="dot"
              [checked]="i == this.carouselService.selected ? true : false"
              (click)="this.carouselService.select(i)"
            />
          </div>
        </div>
      </div>
    </div>
    <form class="col-12 col-sm-6" [formGroup]="authForm" (submit)="onSubmit(authProviders.Email)">
      <h2 class="m-left-auto text-dark fw-700">Invision</h2>
      <h3 class="m-5 text-center">{{ configs.actionTitle }}</h3>
      <div class="row">
        <div class="col-12">
          <div class="input-group" *ngIf="configs.is == 'signUp'">
            <input
              formControlName="name"
              type="name"
              name="name"
              id="name"
              class="input-field"
              [class.input-invalid]="name.dirty && (name.hasError('required') || name.hasError('minlength'))"
              [class.input-float]="name.value != ''"
              required
            />
            <label for="text" class="input-label">Full Name</label>
            <small class="input-invalidation" *ngIf="name.dirty && name.hasError('required')">Este campo não pode ser vazio</small>
            <small class="input-invalidation" *ngIf="name.dirty && name.hasError('minlength')">
              O nome não pode ter menos de 3 caracteres
            </small>
          </div>
          <div class="input-group">
            <input
              formControlName="email"
              type="email"
              name="email"
              id="email"
              class="input-field"
              [class.input-invalid]="email.dirty && (email.hasError('required') || email.hasError('email'))"
              [class.input-float]="email.value != ''"
              required
            />
            <label for="email" class="input-label">{{configs.is == 'signIn' ? 'Email' : 'Email'}}</label>
            <small class="input-invalidation" *ngIf="email.dirty && email.hasError('required')">Este campo não pode ser vazio</small>
            <small class="input-invalidation" *ngIf="email.dirty && email.hasError('email')">
              o e-mail está incorreto
            </small>
          </div>
          <div class="input-group" *ngIf="configs.is != 'forgot'">
            <input
              formControlName="password"
              type="password"
              name="password"
              id="password"
              class="input-field"
              [class.input-invalid]="password.dirty && (password.hasError('required') || password.hasError('minlength'))"
              [class.input-float]="password.value != ''"
              required
            />
            <label for="password" class="input-label">{{configs.is == 'signIn' ? 'Password' : 'Create Password'}}</label>
            <small class="input-invalidation" *ngIf="password.dirty && password.hasError('required')">Este campo não pode ser vazio</small>
            <small class="input-invalidation" *ngIf="password.dirty && password.hasError('minlength')">
              A senha não pode ter menos de 6 caracteres
            </small>
          </div>
        </div>
        <div class="col-12 text-right">
          <button
            type="button"
            class="button button-inline"
            (click)="changeAuthAction('forgot')"
          >
            Forgot password?
          </button>
          <p class="input-invalidation text-center" *ngIf="this.error != ''">{{this.error}}</p>

        </div>
      </div>
      <button
        type="button"
        class="button button-primary button-sign m-4"
        type="submit"

        [disabled]="authForm!.invalid || loading"
      >
        {{ configs.action }}
      </button>
      <hr />
      <button
        type="button"
        class="button button-icon button-secondary shadow m-4"
        (click)="onSubmit(authProviders.Google)"
      >
        <app-google></app-google>
        Sign in with Google
      </button>
      <p class="text-center">
        <ng-container *ngIf="configs.is != 'forgot'">
          <ng-container *ngIf="configs.is == 'signIn'">
            New <strong>Invision</strong>?
          </ng-container>
          <ng-container *ngIf="configs.is == 'signUp'">
            <p class="m-bottom-0">By signing up, you agree to <strong>Invision</strong></p>
            <p>
              <a href="#">Terms of Conditions</a> and
              <a href="#">Privacy Policy</a>
            </p>
            Already on <strong>Invision</strong>?
          </ng-container>
        </ng-container>
        <button
          type="button"
          class="button button-link button-inline text-green"
          (click)="changeAuthAction(configs.isChange)"
        >
          {{ configs.actionChange }}
        </button>
      </p>
    </form>
  </main>
</div>
