<div class="login container-fluid">
  <main class="row m-0">
    <div class="slide col-12 col-sm-6">
      <div class="w-12">
        <div class="row lex-column align-items-center">
          <app-carousel>
            <div class="carousel-item" *ngFor="let slide of slides; index as i">
              <img
                src="./../../../../assets/images/login/Data@2x.png"
                alt=""
                srcset=""
                class="m-bottom-5"
              />
              <h5>Marcenas mattis egestas</h5>
              <p>
                Erdum et malesuada fames ac ante ileum primmer in faucibus
                uspendisse porta.
              </p>
            </div>
          </app-carousel>
        </div>
      </div>
    </div>
  </main>
</div>
